body{
    font-family: Nunito-VariableFont, Arial, Helvetica, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,27,50,1) 45%, rgba(85,49,97,1) 100%);
    color:rgb(255, 255, 255);
}
.form-control{
    font-family: Nunito-Regular;
    border-radius: 10px; 
    border: 1px solid white; 
    color:white;
    background-color: transparent;
    width: 300px;
    height: 40px;
    margin-bottom: 1%;
}
.form-control:focus{
    color:white;
    background-color: transparent;
}
.form-control::placeholder{
    color:rgb(184, 184, 184);
    padding-left: 2%;
}
button.btn-hover.color-3.pr-3{
    margin-left: 30px;
}

form {
    min-width:100px;
    max-width:400px;
    padding:20px;
    margin: auto;
    background:transparent; 
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    -moz-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    border-radius: 5%;
  }
  
  form input {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
  
  form button {
    color:#555;
    background:#ffffffad;
    border:1px solid #fff !important;
    margin-top:20px;
    border-radius:0px Important;
  }
  
  form button:hover {
    background:#ad2fd3 !important;
  }
  
  .pull-right {
    float:right;
  }

.btn{
    color:white;
}